[submodule "Middlewares/Third_Party/LibXR"]
	path = Middlewares/Third_Party/LibXR
	url = https://github.com/molqzone/libxr.git
[submodule "Modules/MT6701"]
	path = Modules/MT6701
	url = https://github.com/verdancy-org/MT6701.git
	branch = main
[submodule "Middlewares/Third_Party/XRFOC"]
	path = Middlewares/Third_Party/XRFOC
	url = https://github.com/molqzone/XRFOC.git
	branch = main
[submodule "Middlewares/Third_Party/CMSIS-DSP"]
	path = Middlewares/Third_Party/CMSIS-DSP
	url = https://github.com/ARM-software/CMSIS-DSP
[submodule "Middlewares/Third_Party/XRMath"]
	path = Middlewares/Third_Party/XRMath
	url = https://github.com/molqzone/XRMath
	branch = main
[submodule "Middlewares/Third_Party/librat"]
	path = Middlewares/Third_Party/librat
	url = https://github.com/molqzone/librat
